<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlatFileDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FlatFileDB.Properties.Settings>
      <setting name="TableName" serializeAs="String">
        <value>data</value>
      </setting>
      <setting name="DbDataFile" serializeAs="String">
        <value>dbInf.dbi</value>
      </setting>
      <setting name="DbFolderName" serializeAs="String">
        <value>DB</value>
      </setting>
      <setting name="TablesFolderName" serializeAs="String">
        <value>Tables</value>
      </setting>
      <setting name="DataTableExtension" serializeAs="String">
        <value>.ftd</value>
      </setting>
      <setting name="InfoTableExtension" serializeAs="String">
        <value>.fti</value>
      </setting>
      <setting name="DataTableSize" serializeAs="String">
        <value>20971520</value>
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value>http://localhost:8080</value>
      </setting>
      <setting name="DataMinLength" serializeAs="String">
        <value>128</value>
      </setting>
    </FlatFileDB.Properties.Settings>
  </userSettings>
</configuration>